/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Onest:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles aded by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    /* Generic project styles */
    color: white;
    font-family: 'Onest', sans-serif;
}

/* Header */
header {

    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

/* Header end */

/* Border and padding for the video on index.html */
.video-one {
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 20px;
}

/* styles for H1 */

h1 {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}


/* Styles for our menu, 'active' is for the current page we're on in reference to the browser */
#menu {
    size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid white;
}

/*Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px white;
    display: none;
    top: 100%
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {

    font-size: 2rem;
}

/* Main content */
main {

    background-color: transparent;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    padding: 52px;
}

/* The below is to add some padding for the index paragraphs on mobile */
.first-para-index {
    padding-bottom: 20px;
}

.second-para-index {
    padding-top: 20px
}

/* The above is to add some padding for the index paragraphs on mobile */

/*The below is the image we're going to use for the index page*/
#image-index {
    height: 150px;
    max-width: none;
    background: url("/assets/images/backgrounddemo.jpg") no-repeat center center/cover;
    position: relative;
    margin-top: 30px;
    margin-left: -52px;
    margin-right: -52px;
}




/* Footer */

footer {}

#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

/* Below is for the our quotes page */

/* This will be for the quote cards */

.container-our-quotes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {

    background: transparent;
    width: 270px;

    margin: 10px;
    border-radius: 15px;



}

.card-image {

    height: 310px;
    margin-bottom: 15px;
    background-size: cover;
    padding-right: 60px;
    border-radius: 15px 15px 15px 15px;
}

/*Below is for the card images */
.car-1 {
    background-image: url("/assets/images/eminem_img.webp");



}

.car-2 {
    background-image: url("/assets/images/jordan_img.jpg");

}

.car-3 {
    background-image: url("/assets/images/zach-img.jpg");


}

/*Above is for the card images */

/* Below is for the text on the cards to stand out */
.card h2,
.card p {
    color: black;
    padding: 10px;
}

/* Above is for the text on the cards to stand out */


/* Below is for the more quotes button */
.card a {
    background-color: grey;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 15px;
}

/* Above is for the more quotes button */

/*Below is for the cards to have a hover affect */

.card:hover {
    background-color: grey;
    color: red;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;


}

.card:hover h2,
.card:hover p {
    color: white;
}

/*Above is for the cards to have a hover affect */

/* Media query: tablets and larger, (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate large header */
        margin-top: 113px;
    }

    /* This will target the first paragraph on the index page */
    .first-para-index {
        text-align: left;
        max-width: 350px;
        padding-bottom: 30px
    }

    /* This will target the second paragraph on the index page */
    .second-para-index {
        text-align: right;
        max-width: 350px;
        float: right;
        padding-top: 20px;
        padding-bottom: 30px
    }

    /*Below is trying to get the video for index.html page to be centered and fit the screen on tablets*/
    .video-one {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        padding: 0;
        height: 300px;
    }

    .video-one iframe {
        width: 50%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 56.25%;
    }

    /* The below is for the image on the index page to fit on tablets */

    #image-index {
        height: 280px;
        width: 80%;
        background: url("/assets/images/backgrounddemo.jpg") no-repeat center center/cover;
        position: relative;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* The above is for the image on the index page to fit on tablets */

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* This will target the first paragraph on the index page */
    .first-para-index {
        text-align: left;
        max-width: 350px;
        padding-bottom: 30px
    }

    /* This will target the second paragraph on the index page */
    .second-para-index {
        text-align: right;
        max-width: 350px;
        float: right;
        padding-top: 20px;
        margin-bottom: 20px
    }

    /*Below is trying to get the video for index.html page to be centered and fit the screen on tablets*/
    .video-one {

        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 0;
        height: 250px;
        padding-bottom: 450px
    }



    .video-one iframe {
        width: 50%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 56.25%;
    }

    /*The below is fixing the height of the video only*/
    .video-one .video-one-element {
        height: 900px;
        /*The above is fixing the height of the video only*/
    }

    /* The below is for the image on the index page to fit on tablets */

    #image-index {
        height: 280px;
        width: 80%;
        background: url("/assets/images/backgrounddemo.jpg") no-repeat center center/cover;
        position: relative;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* Large devices (laptops and desktops, 992px and up) we are addind this to fix the video disappearing on 1200px and up screens */
@media screen and (min-width: 1200px) {

    /* This will target the first paragraph on the index page */
    .first-para-index {
        text-align: left;
        max-width: 350px;
        padding-bottom: 30px
    }

    /* This will target the second paragraph on the index page */
    .second-para-index {
        text-align: right;
        max-width: 350px;
        float: right;
        padding-top: 20px;
        margin-bottom: 20px
    }

    /*Below is trying to get the video for index.html page to be centered and fit the screen on tablets*/
    .video-one {
        padding: 0;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
        position: relative;
        border: solid yellow 2px
    }

    .video-one iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        border: solid red 2px
    }


    /* The below is for the image on the index page to fit on tablets */

    #image-index {
        height: 280px;
        width: 80%;
        background: url("/assets/images/backgrounddemo.jpg") no-repeat center center/cover;
        position: relative;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}